.itemImage, .itemImageList {
    margin: 2px;
    padding: 2px;
}

.itemImage img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    max-width: 280px;
}

.itemImageList img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    max-width: 200px;
}

.itemImage a:hover, .itemImageList a:hover {
    background: none;
}

.itemImage.left, .itemImageList.left {
    float: left;
}

.itemImage.right, .itemImageList.right {
    float: right;
}