/* spotlight */
.spotlightTitle h2 {
    padding: 0;
    margin: 0;
}

.spotlightTitle {
    border-bottom: 1px dotted #ccc;
}

.spotlightListItem .spotlightTitle {
    border: 0;
}

.spotlightListItem .spotlightTitle h4 {
    font-size: 1em;
}

.news .list-group img {
    width: 32px;
    height: 32px;
    margin: 1px 5px;
}

.news .table img {
    /* width: 32px;
    height: 32px; */
    margin: 1px 5px;
}

.player-media {
    margin: 5px 0;
}

.rrssb-buttons {
    max-width: 500px;
}