.item {
    padding: 5px;
    margin: 2px;
}

.itemList {
    padding: 1px;
    margin: 1px;
}

.itemHead {
    border-bottom: 1px dotted #ccc;
}

.itemTitle {
}

.itemTitle h2 {
}

.itemInfo {
    font-size: .8em;
    text-align: right;
    margin: 3px 0 0 0;
}

.itemCategory, .itemPoster, .itemPostDate, .itemStats, .itemComments {
    padding: 1px 2px;
}

.itemBody {
    font-size: 1em;
    text-align: justify;
    font-weight: normal;
    padding: 5px;
}

.itemRotator {
    font-size: 1.1em;
}

.itemImage, .itemImageList {
    margin: 2px;
    padding: 2px;
}

.itemImage img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    max-width: 280px;
}

.itemImageList img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    max-width: 200px;
}

.itemImage a:hover, .itemImageList a:hover {
    background: none;
}

.itemImage.left, .itemImageList.left {
    float: left;
}

.itemImage.right, .itemImageList.right {
    float: right;
}

.itemImagedesc {
    font-size: .8em;
    color: #aaa;
    text-align: center;
}

.itemText {
}

.itemFoot {
    margin: 5px 0 0 0;
}

.itemNav {
    padding: 2px;
    margin: 2px;
}

.itemNext {
    float: right;
}

.itemPrev {
    float: left;
}

.itemIcons {
    float: left;
}

.itemSys {
    float: right;
}

.itemGplus, .itemfacebook, .itemtwitter {
    padding: 2px 5px;
}

.itemMore {
}

.tagbar a span {
    color: #fff;
    padding: 2px 5px;
}

.tagbar a:hover {
    color: #f0f0f0;
    text-decoration: none;
}